
.humane {
    position: relative;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 100000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    top: 20px;
    left: 30%;
    opacity: 0;
    width: 40%;
    color: #333;
    padding: 10px;
    text-align: center;
    -moz-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}
.humane p,
.humane ul {
    margin: 0;
    padding: 0;
}
.humane ul {
    list-style: none;
}
.humane-animate{
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.humane-animate:hover {
    opacity: 0.7;
}
.humane-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.humane-js-animate:hover {
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}